<% provide(:title, 'Home') %>
<div class="hero-unit">

  <h2>
    Welcome to the e-buZZ favourites search
  </h2>
    <%= form_tag root_path, :method => 'post' do%>
		<div style="float:left; width:75%;"><%= text_field_tag :search, params[:search], placeholder: "Search for your favourite movies, shows, authors, books, music, games and get similar results..." %></div>
		<div style="float:left; padding-left:20px; "><%= select_tag :type, options_for_select([['Genre', 1], ['Movies', 2], ['Music', 3], ['Books', 4], ['Authors', 5], ['Shows', 6], ['Games', 7]]) %></div>
		<div style="float:left; padding-left:10px; "><%= submit_tag "Search", class: "btn btn-default btn-info", :name => 'nil' %></div>
	<% end %>
  <div style="padding-top:50px; min-height:270px;">
  <%= render 'error' if @e == 1 %>
    <h3><%= @heading %></h3>
  <% i=0 %>
	<% @similarities.each do |sim| %> 
      <div style="float:left; padding:10px; background-color:#eeeeee;"><a href="#<%= i %>" id ="flip<%= i %>" class="test" data-toggle="modal" rel="<%= @simsearch_datatype[i] %>"><b><%= sim %></b></a></div>
      <div id="<%= i %>" class="modal hide fade" style="width:760px !important; margin-left:-380px !important;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 id="myModalLabel"><%= sim %></h4>
      </div>
      <div class="modal-body" style="text-align:justify !important">
        <div class="content"><center><img src="http://gigbytes.net23.net/assets/loading.gif"/></center></div>
      </div>
      <div class="modal-footer">
        Click on the outside or use the cross mark in the header
      </div>
      </div>
    <% i = i+1 %>
    <% end %>
  </div>
  <div id="num" style="display:none;"><%= i-1 %></div>
</div>
